
/* google fonts linked here  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i{
    margin-left:10px;
}
/*----------------------------------
header section  style  starts here
------------------------------------- */
.header-section{
    background-color:#f8f9fa;
}
/*----------------------------------
home section  style  starts here
------------------------------------- */

.home-section{
    padding:6px 0px;
}
.home-section{
    margin-bottom: 60px;

}
.contents{
    background-color:#FEEAE9;
    border-radius: 10px;
    padding: 25px;
    margin-top: 100px;
}
.content-image img{
    width: 402px;
    height: 378px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}
.content-info h1{
    font-family: 'Poppins', sans-serif;
    color: #1F1F1F;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px; 
    margin-bottom:8px;
}
.content-info p{
    color: #4E4E4E;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 26px;
    margin-bottom:8px;
}
.content-info h2{
    font-family: 'Poppins', sans-serif;
    font-size:41px;
    line-height: 61px;
    font-weight: 500;
    color: #FF136F;
    margin-bottom: 8px;
}
.btn{
    color:#FFFF;
    border: none;
    border-radius: 6px;
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    margin-bottom: 8px;
    padding:10px 25px;
}
/*----------------------------------
cetagory section  style  starts here
------------------------------------- */
.cetagory-title{
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 40px;
}
.box{
    background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
    margin-bottom: 40px;
    border-radius:20px;
}
.box-2{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
  
}
.box-3{
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
    border-radius:20px;
}
.box-img img{
    width:80px;
}
/*----------------------------------
shoes section style  starts here
------------------------------------- */
.shoes-section{
    background: #F4F4F4;
    padding: 20px 0px;

}
.shoes h1{
    font-family: 'Poppins', sans-serif;
    color: #1F1F1F;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
}
.shoes-anchor a{
    color: #FF9D00;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.shoes-box{
    background-color:#FFFFFF;
    padding:24px;
    border-radius:20px;
    margin-bottom:30px;
}
.shoes-box img{
    margin-bottom:22px;
}
.shoes-box h2{
    font-family: 'Poppins', sans-serif;
    color: #1F1F1F;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 36px;
    margin-bottom:16px;
}
.shoes-box h3{
    font-family: 'Poppins', sans-serif;
    font-style:normal;
    color:#000000;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom:16px;
}
.shoes-box p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #4E4E4E;
}
.btn-2{
    background-color:#000000;
    border:none;
    border:1px solid #000000;
    padding:10px 25px;
    color:#FFFFFF;
    border-radius:6px;
    transition:.3s ease;
}
.btn-2:hover{
    background:#FFFFFF;
    color:#000000;     
}

/*----------------------------------
subscribe section style  starts here
------------------------------------- */
.subscribe-content{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color:#FEEAE9;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.subscribe-content h1{
    color: #1F1F1F;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
}
.subscribe-content p{
    font-family: 'Poppins', sans-serif;
    color: #707070;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.sub-info{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width:280px;
    display: block;
    margin: auto;
}
.email_name{
    font-family: 'Poppins', sans-serif;
    padding:8px 10px;
    border:1px solid gray;
    outline: none;
    color: #CCCCCC;
    font-size: 15px;
    font-weight:400;
    font-style :normal;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.sent-btn{
    position: absolute;
    left: 200px;
    top: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FF136F;
    color:#FFFFFF;
    padding:9px 10px;
    font-size: 15px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*----------------------------------
footer section style  starts here
------------------------------------- */
.footer-content p{
    font-family: 'Poppins', sans-serif;
}
.credit{
    color:#FF136F;
    cursor: pointer;
}
.credit:hover{
    color:#FF136F;
}
.footer-bg{
    background-color:rgb(180, 175, 175);
}
